@import "tailwindcss";

@font-face {
  font-family: SF-Pro;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/SF-Pro-Display-Regular.otf");
}

@font-face {
  font-family: SF-Pro;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/SF-Pro-Display-Medium.otf");
}

@font-face {
  font-family: SF-Pro;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("assets/fonts/SF-Pro-Display-Bold.otf");
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100%;
  justify-content: center; /* горизонтально */
  font-family: "SF-Pro", sans-serif;
  background-color: #171717;
}

#root {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  border: 2px red solid;
}

section#hero {
  background-image: url("assets/images/heroDark.png");
  background-repeat: no-repeat;
  background-size: cover;
}
